
<!-- Page Content -->
<div class="container">

    <h1 class=" text-center fw-light mt-5 mb-0">Updates Gallery</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates1.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates2.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates3.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates4.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates5.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates6.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates7.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates13.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates14.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates10.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates15.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/updates/updates4.jpeg" alt="">
        </a>
      </div>
    </div>
  
  </div>