<div class="container-fluid ps-5 pe-5">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-color">
        <h3 class="call-us">CALL US</h3>
        <p class="text-color">123(352738)2334</p>
        <p class="text-color">123(352738)2334</p>
        <h3 class="call-us">LOCATION</h3>
        <p class="text-color">
          mitra puram keharai mode<br />
          shamshabad road,Agra
        </p>
        <h3 class="call-us">OUR TOP SERVICE</h3>
        <p class="text-color">Local transfers</p>
        <p class="text-color">Airports transfers</p>
        <p class="text-color">Excursions and Tour</p>
      </div>
    </div>
   
    </div>
  </div>
