<nav class="navbar navbar-expand-lg navbar-light  sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" i18n>
      <img src="../../assets/images/icon/parshuram.png" width="30" height="40" alt="website logo" i18n-alt srcset="">
      BPSS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" i18n>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" i18n>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" i18n>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" i18n>Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" aria-current="page" href="#" i18n>Members</a>
        </li>
      </ul>
    </div>
  </div>
</nav>