<div class="container-fluid" id="contact">


    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-sm-1 my-3">
            <!-- <h2 class="text-center ">Location</h2> -->
            <iframe id="location-map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3550.9531221234206!2d78.04237227626354!3d27.126286450878244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974732547429ea9%3A0x3c51ef11cfd8c529!2sBhagwan%20Parshuram%20Sewa%20Sadan!5e0!3m2!1sen!2sin!4v1682058591050!5m2!1sen!2sin"
                width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-md-6">
            <h1 class="text-center fw-light mt-sm-2  pt-3">Contact Us</h1>
            <hr class="mt-2 mb-4" />
            <div class="col">
                <div class="row mb-2">
                    <div class="col-2 col-lg-1 text-center">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="col">Address</div>
                </div>
                <div class="row mb-4">
                    <div class="col-10 offset-2 offset-lg-1">
                        42GV+GX8, Vishwakarmapuram Colony,
                    </div>
                    <div class="col-10 offset-2 offset-lg-1">
                        Agra, Uttar Pradesh 282001
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-2 col-lg-1 text-center">
                        <i class="bi bi-telephone"></i>
                    </div>
                    <div class="col">Phone</div>
                </div>
                <div class="row mb-4">
                    <div class="col offset-2 offset-lg-1">
                        9898989898
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-2 col-lg-1 text-center">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <div class="col">Email</div>
                </div>
                <div class="row mb-4">
                    <div class="col offset-2 offset-lg-1">
                        admin@bpss.org
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>