<div class="container-fluid">

  <h1 class="text-center fw-light mt-sm-2  pt-3">About</h1>
  <hr class="mt-2 mb-4" />
  <h2 class="mt-1">Parashurama</h2>

  <div class="row">
    <div class="col-lg-9">
      <p class="mt-4">
        Parashurama (Sanskrit: परशुराम, romanized: Paraśurāma, lit. 'Rama with
        an axe'), also referred to as Rama Jamadagnya, Rama Bhargava and
        Veerarama,[3] is the sixth avatar among the Dashavatara of the preserver
        god Vishnu in Hinduism. He is believed to be one of the Chiranjeevis
        (Immortals), who will appear at the end of the Kali Yuga to be the guru
        of Vishnu's tenth and last incarnation, Kalki.
      </p>
      <p class="mt-5">
        Born to Jamadagni and Renuka, the Brahmin Parashurama was foretold to
        appear at a time when overwhelming evil prevailed on the earth. The
        Kshatriya class, with weapons and power, had begun to abuse their power,
        take what belonged to others by force and tyrannise people. He corrected
        the cosmic equilibrium by destroying the Kshatriya warriors twenty-one
        times. He is married to Dharani, an incarnation of Lakshmi, the wife of
        Vishnu.[4] He is present in the Ramayana due to the conflict with Rama
        (the protagonist of the Ramayana) over Shiva's broken bow. He is
        mentioned in the Mahabharata as the guru of Bhisma, Drona, Rukmi, and
        Karna.[5][6]
      </p>
    </div>

    <div class="text-center text-lg-start col-12 col-lg-3">
      <a href="#" class="d-block" onClick="return false;">
        <img class="img-1 img-fluid img-thumbnail img-size-change" src="../../assets/images/aboutUs/parshurama-img1.jpg"
          alt="" height="200px">
      </a>
    </div>

  </div>
  <div class="row mt-4">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-2">Legend</h2>
          <p class="pt-3">
            According to Hindu mythology, Parashurama was born to the sage Jamadagni
            and his Kshatriya wife, Renuka, living in a hut (believed in local
            tradition to be located at Janapav). They had a celestial cow called
            Surabhi, which gives them all that they desire (Surabhi is the daughter
            of cow Kamadhenu).[6][8] A king named Kartavirya Arjuna (not to be
            confused with Arjuna, the Pandava)[9][note 1] – learns about this cow of
            plenty and wants it. He asks Jamadagni to give it to him, but the sage
            refuses. While Parashurama is away from the hut, the king takes it by
            force.[6] When Jamadagni pleads his case and seeks for the return of the
            cow, the king strikes him with his fist, killing him. Parashurama learns
            about this crime, and is upset. With his axe in his hand, he challenges
            the king to battle. They fight, and Parashurama defeats and kills the
            king, according to the Padma Purana.
          </p>
        </div>
        <div class="col">
          <p class="mt-4">
            The Hindu literature on iconography such as the Vishnudharmottara Purana
            and Rupamandana describes him as a man with matted locks, with two
            hands, one carrying an axe. However, the Agni Purana portrays his
            iconography with four hands, carrying his axe, bow, arrow and sword. The
            Bhagavata Purana describes his icon as one with four hands, carrying his
            axe, bow, arrows and a shield like a warrior.[30] Though a warrior, his
            representation inside Hindu temples with him in war scenes is rare (the
            Basohli temple is one such exception). Typically, he is shown with two
            hands, with an axe in his right hand either seated or standing.[30]
          </p>
        </div>
        <div class="col-lg-12">
          <p class="mt-4">
            The Hindu literature on iconography such as the Vishnudharmottara Purana
            and Rupamandana describes him as a man with matted locks, with two
            hands, one carrying an axe. However, the Agni Purana portrays his
            iconography with four hands, carrying his axe, bow, arrow and sword. The
            Bhagavata Purana describes his icon as one with four hands, carrying his
            axe, bow, arrows and a shield like a warrior.[30] Though a warrior, his
            representation inside Hindu temples with him in war scenes is rare (the
            Basohli temple is one such exception). Typically, he is shown with two
            hands, with an axe in his right hand either seated or standing.[30]
          </p>
        </div>
      </div>
    </div>
    <div class="text-center text-lg-start col-lg-3 mt-5 pt-5">
      <img class="img-fluid img-thumbnail img-size-change" src="../../assets/images/aboutUs/parshurama-img2.jpg" alt="">
    </div>
  </div>
</div>