.background{background-color:lightblue;}
    
 
.color-change{
    color:brown;
font-size: 20px;

    text-align: center;
}
.contact{font-weight: 1000px;
    text-align: center;
    color: whitesmoke;
    background-color: black;                        
}
.address{font-size: 2rem;
text-align: right;
}