<div class="gallery">
    <img src="../../assets/images/Gallery/lord.png">
    <img src="../../assets/images/Gallery/lord1.jpg">
    <img src="../../assets/images/Gallery/lord2.jpg">
    <img src="../../assets/images/Gallery/lord3.jpg">
    <img src="../../assets/images/Gallery/lord4.jpg">
    <img src="../../assets/images/Gallery/lord5.jpg">
    <img src="../../assets/images/Gallery/lord6.jpg">
    <img src="../../assets/images/Gallery/lord7.jpg">
    <img src="../../assets/images/Gallery/gangotri temple.jpg">
    <img src="../../assets/images/Gallery/lord9.jpg">
    <img src="../../assets/images/Gallery/kedarnath temple.jpg">
    <img src="../../assets/images/Gallery/bhagwan1.jpg">
    </div>
    