<div class="gallery">
    <div>
      <img src="../../assets/images/Gallery/hanuman images.jpg" alt="">
    </div>
    <div class="v-strech">
      <img src="../../assets/images/Gallery/bhagwan3.jpg" alt="">
    </div>
    <div class="h-strech">
      <img src="../../assets/images/Gallery/bhagwan1.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/images/Gallery/kashi.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/images/Gallery/lord7.jpg" alt="">
    </div>
    <div class="v-strech">
      <img src="../../assets/images/Gallery/lord8.jpg" alt="">
    </div>
    <div class="big-strech">
      <img src="../../assets/images/Gallery/somnath temple.jpg" alt="">
    </div>
    <div>
      <img src="../../assets/images/Gallery/badrinath temple.jpg" alt="">
    </div>
    <div class="h-stech">
      <img src="../../assets/images/Gallery/bhagwan parshuram.jpg" alt="">
    </div>

    <div class="h-stech">
      <img src="../../assets/images/Gallery/lord1.jpg" alt="">
    </div>
    <div class="h-stech">
      <img src="../../assets/images/Gallery/sun temple.jpg" alt="">
    </div>
    <div class="h-stech">
      <img src="../../assets/images/Gallery/somnath temple.jpg" alt="">
    </div>
    <div class="h-stech">
      <img src="../../assets/images/Gallery/kashi.jpg" alt="">
    </div>
    <div class="h-stech">
      <img src="../../assets/images/Gallery/lord.png" alt="">
    </div>
  </div>
    