<h1 class="updates-heading">Updates</h1>
<div class="updates-wrapper">
    <div class="card" style="width: 25vw;" *ngFor="let card of cards">
        <!-- <img src="../../assets/images/updates/updates1.jpeg" class="card-img-top" alt="..."> -->
        <img [src]="card.src" class="card-img-top" alt="...">
        <div class="card-body">
            <!-- <h5 class="card-title">{{card.title}}</h5> -->
            <!-- <p class="card-text">{{card.text}}</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>