
<div class="container-fluid bg-color">
  <h1>Trust Member</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>

          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/images/Trust-members/jaichaturvedi.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">Jai Chaturvedi</h4>
          <h6 class="card-title">UI Developer</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <a href="#" class="card-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="card-link"><i class="bi bi-twitter"></i></a>
          <a href="#" class="card-link"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
