.trust-members-heading{
    margin-top: 2rem;
    text-align: center;
}

.trust-members-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}