<h1 class="trust-members-heading">Trust</h1>
<div class="trust-members-wrapper">
    <div class="card" style="width: 20vw;" *ngFor="let member of members">
        <img [src]="member.src" class="card-img-top" alt="...">
        <!-- <i class="bi bi-person-circle"></i> -->
        <div class="card-body">
            <h5 class="card-title text-center">{{member?.name}}</h5>
            <p class="card-text">{{member.text}}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>